#root {
  background-image: url('../assets/new-fondo.jpg');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  color: rgb(255, 255, 255);
  background-attachment: fixed;
  min-height: 100vh;
  width: 100wh;
  font-family: 'Fire Code', sans-serif;
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.btn {
  background-color: #865f1095;
  color: rgb(255, 255, 255);
  border: none;
}

.btn:hover{
  background-color: #865f10;
  color: rgb(255, 255, 255);
}